# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# --------------------
# Jupyter Notebook
# --------------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# --------------------
# Virtual environments
# --------------------
.venv/
venv/
ENV/
env/
*.env

# --------------------
# OS Specific
# --------------------
# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac
.DS_Store

# --------------------
# IDEs
# --------------------
.vscode/
.idea/

# --------------------
# Project Specific
# --------------------
# Hugging Face / Transformers cache
.cache/
huggingface/
~/.cache/huggingface/

# Pre-computed embeddings
quote_embeddings.npy

# Streamlit specific
.streamlit/
